#mainBody .left .details h1 {
	font-size:22px;
	color:#1773B2;
	text-align:center;
	padding:20px 0 0 0;
}
#mainBody .left .details .info {
	width:668px;
	height:25px;
	margin:15px auto 0 auto;
	background:url(hx.png) 0px bottom no-repeat;
	color:#999;
}
#mainBody .left .details .div0 {
	width:651px;
	height:99px;
	background:url(hotbg.png);
	margin:15px auto;
}
#mainBody .left .details .div0 ul {
	width:651px;
	height:99px;
	padding:4px 0 0 1px;
}
#mainBody .left .details .div0 ul li {
	width:215px;
	height:30px;
	float:left;
	line-height:30px;
	background:url(libg.jpg) 10px center no-repeat;
	text-indent:22px;
}
#mainBody .left .details .div0 ul li a {
	color:#4D4D4D;
}
#mainBody .left .details .div0 ul li a:hover {
	color:#1773b1;
	text-decoration:none;
}
#mainBody .left .details .div1 {
	width:660px;
	line-height:190%;
	margin:0 auto;
	color:#333333;
	font-size:14px;
}
#mainBody .left .details .div1 p {
	font-size:14px;
}
#mainBody .left .details .ask {
	width:336px;
	display:block;
	margin:0 auto;
}
#mainBody .left .details .pre_next {
	width:660px;
	height:30px;
	margin:0 auto;
	background:pink;
}
#mainBody .left .details .typeList {
	width:660px;
	margin:0px auto;
}
#mainBody .left .details .typeList .divWrap {
	height:32px;
	line-height:32px;
	border-bottom:1px solid #E3E3E3;
	margin:0 0 23px 0;
}
#mainBody .left .details .typeList .divWrap h2 {
	width:100px;
	height:32px;
	border-bottom:1px solid #1773B1;
	color:#1773B1;
	font-size:18px;
	font-weight:normal;
	font-family:verdana,​arial,​tahoma;
}
#mainBody .left .details .typeList ul li {
	width:300px;
	float:left;
	line-height:22px;
	text-indent:15px;
	background:url(neir_18.jpg) 0px center no-repeat;
}
#mainBody .left .details .typeList ul li a {
	color:#666666;
}
#mainBody .left .details .an li {
	clear:both;
}


