#mainBody00 {
	background:#FFFFFF;
    height:310px;
}
#mainBody00  .div0,#mainBody00  .div1,#mainBody00  .div2 {
	float:left;
}
#mainBody00  .div0 {
	width:300px;
	height:295px;
	background:#ccc;
	margin:15px auto 0 10px;
}
#mainBody00  .div1 {
	width:365px;
	height:310px;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	margin-left:15px;
}
#mainBody00  .div1 .title {
	width:345px;
	height:45px;
	margin:10px auto;
	background:url(news.jpg);
}
#mainBody00  .div1 .title a {
	display:block;
	width:74px;
	height:35px;
	background:url(newsbg.jpg);
	color:#fff;
	font-size:14px;
	text-align:center;
	line-height:28px;
	float:right;
	margin-top:5px;
}
#mainBody00  .div1 .title a:hover {
	text-decoration:none;
}
#mainBody00  .div1 .top {
	width:345px;
	height:80px;
	border-bottom:1px dashed #A8A8A8;
	margin:0 auto;
}
#mainBody00  .div1 .top h2 {
	text-align:center;
}
#mainBody00  .div1 .top h2 a {
	color:#1773B1;
	font-size:14px;
	font-weight:bold;
}
#mainBody00  .div1 .top p {
	color:#333;
	line-height:20px;
	margin:8px 0 0 0;
}
#mainBody00  .div1 .top p a {
	color:#1773B1;
}
#mainBody00  .div1 .arcList {
	width:345px;
	margin:10px auto 0px auto;
	color:#333333;
}
#mainBody00  .div1 .arcList ul li {
	height:28px;
	line-height:28px;
	background:url(libg.jpg) 0px center no-repeat;
	text-indent:15px;
}
#mainBody00  .div1 .arcList ul li a {
	color:#333333;
}
#mainBody00  .div1 .arcList ul li span {
	float:right;
}
#mainBody00  .div2 {
	width:280px;
	height:310px;
	background:#ccc;
	margin-left:5px;
}
#mainBody01 {
	height:295px;
	background:#ccc;
	margin:15px auto;
}
.mainBody02 {
	height:410px;
	background:url(probg1.jpg) no-repeat #fff;
}
.mainBody02 .title a {
	display:block;
	width:74px;
	height:35px;
	background:url(newsbg.jpg);
	color:#fff;
	font-size:14px;
	text-align:center;
	line-height:28px;
	margin:10px 0 0 300px;
	float:left;
}
.mainBody02 .subList {
	text-align:center;
	margin:25px 0 0 0;
}
.mainBody02 .subList a {
	color:#333;
}
.mainBody02 .detailsList {
	width:950px;
	margin:20px auto;
}
.mainBody02 .detailsList .left,.mainBody02 .detailsList .center,.mainBody02 .detailsList .right {
	float:left;
	
}
.mainBody02 .detailsList .left {
	width:278px;
}
.mainBody02 .detailsList .left img {
	border:5px solid #ECECEC;
}
.mainBody02 .detailsList .center {
	height:280px;
	width:375px;
	margin:0 13px;
}

.mainBody02 .detailsList .center .top {
	width:370px;
	height:80px;
	border-bottom:1px dashed #A8A8A8;
	margin:0 auto;
}
.mainBody02 .detailsList .center .top h2 {
	text-align:center;
	margin:20px 0 0 0;
}
.mainBody02 .detailsList .center .top h2 a {
	color:#1773B1;
	font-size:14px;
	font-weight:bold;
}
.mainBody02 .detailsList .center .top p {
	color:#333;
	line-height:20px;
	margin:8px 0 0 0;
}
.mainBody02 .detailsList .center .top p a {
	color:#1773B1;
}
.mainBody02 .detailsList .center .arcList {
	width:370px;
	margin:10px auto 0px auto;
	color:#333333;
}
.mainBody02 .detailsList .center .arcList ul li {
	height:28px;
	line-height:28px;
	background:url(libg.jpg) 0px center no-repeat;
	text-indent:15px;
}
.mainBody02 .detailsList .center .arcList ul li a {
	color:#333333;
}
.mainBody02 .detailsList .center .arcList ul li span {
	float:right;
	margin:0 5px 0 0;
}


.mainBody02 .detailsList .right {
	width:270px;
	height:280px;
}
.mainBody02 .detailsList .right a {
	display:block;
	width:270px;
	height:130px;
	margin:0 0 12px 0;
}
