<!DOCTYPE html>
<html lang="zh" >

    <head>
        <meta charset="utf-8" >
        <title>bt4实战3</title>

        <!-- 为兼容响应式 -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge"> 

        <!-- cdn_icon -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

        <!-- bootstrap必备 -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
		<!-- 灯笼弹窗效果-与Bt4搭配，js文件在底部 -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" integrity="sha256-HAaDW5o2+LelybUhfuk0Zh2Vdk8Y2W2UeKmbaXhalfA=" crossorigin="anonymous" />

		<!-- 本地css,后面可以覆盖样式 -->
        <link rel="stylesheet" href="../static/css/test.css">
    </head>
    <body data-spy="scroll" data-target="#mainNav" data-offset="50" >
		<!-- nav-BGN -->
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark " id="mainNav" >
			<div class="container">
					<a href="#" class="navbar-brand">
						Glozzom
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainItems" >
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="navbar-collapse collapse " id="mainItems" >
						<ul class="navbar-nav ml-auto ">
							<li class="nav-item active">
								<a href="index.html" class="nav-link "  > 主页 </a>
							</li>
							<li class="nav-item">
								<a href="about.html" class="nav-link"> 关于 </a>
							</li>
							<li class="nav-item">
								<a href="service.html" class="nav-link"> 服务 </a>
							</li>
							<li class="nav-item">
								<a href="blog.html" class="nav-link"> 博客 </a>
							</li>
							<li class="nav-item">
								<a href="contact.html" class="nav-link"> 联系 </a>
							</li>
						</ul>
					</div>
			</div>
			
		</nav>
		<!-- nav-END -->
		
		<!--test-BGN-->
		<section id="test0">
			<div class="container ">
				<div class="row justify-content-between">
					<div class=" col-md-3 col-6 ">
						<div class="pic0"></div>
					</div>
					<div class=" col-md-3 col-6 ">
						<div class="pic0"></div>
					</div>
					<div class=" col-md-3 col-6 ">
						<div class="pic1"></div>
					</div>
					<div class=" col-md-3 col-6 ">
						<div class="pic1"></div>
					</div>

					<div class=" col-md-3 col-6 ">
						<div class="pic0"></div>
					</div>
					<div class=" col-md-3 col-6 ">
						<div class="pic0"></div>
					</div>
					<div class=" col-md-3 col-6 ">
						<div class="pic1"></div>
					</div>
					<div class=" col-md-3 col-6 ">
						<div class="pic1"></div>
					</div>
				</div>
			</div>
		</section>

		<section id="test1">
			<div class="container">
				<div class="row">
					<div class="col-6 col-md-3 px-2">
						<div class="card ">
								<div class="card-window h-50">
									<img src="../static/images/test1.jpg "  alt="" class="card-img-top h-100">
								</div>
							<div class="card-body card-title">
								
								<h5>test</h5>
								<p class="card-text" >
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, quisquam?
								</p>
								<a href="#" class="card-link" >abc</a>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-3 px-2">
						<div class="card ">
							<div class="card-window">
								<img src="../static/images/test2.jpg"  alt="" class="card-img-top ">
							</div>
							<div class="card-body card-title">
								
								<h5>test</h5>
								<p class="card-text" >
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, quisquam?
								</p>
								<a href="#" class="card-link" >abc</a>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-3"></div>
					<div class="col-6 col-md-3"></div>
				</div>
			</div>
		</section>
		<!--test-END-->


		<!-- tel-BGN -->
		<section id="tel" class="py-5 bg-dark text-center text-light" >
			
			<div class="container">
				<h1> 留下你的联络方式 </h1>
				<p class="tel-p mx-auto">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae beatae ea atque, illum mollitia ducimus quasi magnam modi quis dignissimos.
				</p>
				<div class="row">
					<div class="col">
						<form action="" class="form-inline justify-content-center my-2">
							<input type="text" class="form-control" placeholder="你的称呼" >
							<input type="email" class="form-control" placeholder="你的邮箱" >
							<input type="submit" value="提交信息" class="form-control btn btn-primary" >
						</form>
					</div>
				</div>
			</div>
		</section>
		<!-- tel-END -->

		<!-- footer-BGN -->
		<footer>
			<div class="container py-5 text-light">
				<div class="row">
					<div class="col text-center">
						<p class="mb-0" >
							Copyright &copy; <span id="year"></span> Glozzom
						</p>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer-END -->

        <!-- bootstrap必备 -->
        <script src="http://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		
		<!-- 灯笼弹窗效果js需文件-与Bt4搭配-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js" integrity="sha256-jGAkJO3hvqIDc4nIY1sfh/FPbV+UK+1N+xJJg6zzr7A=" crossorigin="anonymous"></script>

		<script>
			// 获取时间,使用时" <span id="year"></span> "对应id是核心
			$('#year').text(new Date().getFullYear());

			// 控制banner特效( carousel动态效果 )
			$('.carousel').carousel({
				interval:3500, // 3.5/s一换图
				pause:'hover' // 鼠标悬停时,停止动画
			});

			 // 灯箱效果
			 $(document).on('click', '[data-toggle="lightbox"]', function (event) { // 抓取属性执行效果
				event.preventDefault();
				$(this).ekkoLightbox();
			});

			// 目的是自动加载视频( 只能使用在上方所演示的固定模式中 )
			$(function () {
			// 抓取目标
			$(".video").click(function () {
				var theModal = $(this).data("target"),
				videoSRC = $(this).attr("data-video"),
				videoSRCauto = videoSRC + "?modestbranding=1&rel=0&controls=0&showinfo=0&html5=1&autoplay=1"; // 自动播放核心代码
				$(theModal + ' iframe').attr('src', videoSRCauto);
				$(theModal + ' button.close').click(function () {
				$(theModal + ' iframe').attr('src', videoSRC);
				});
			});
			});
			
		</script>
	
	</body>    

</html>
